#map {
    height: 100vh;
}

#info {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    background: #fff;
    padding: 5px;
}

#controls {
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 80px;
    background-color: #fff;
    padding: 5px;
}

#parent {
    display: grid;
    grid-template-columns: 1fr;
}

.child {
    grid-row-start: 1;
    grid-column-start: 1;
}

#markerButton:hover {
    color: #007bff;
    background-color: #fff;
    border-color: #007bff;
}

#markerButton.active:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}